In [ ]:
# imports de pacotes build-in
from pathlib import Path

# import de outras bibliotecas
import pandas as pd
import matplotlib.pyplot as plt

# importanto os dados
df = pd.read_csv('../data/raw/insurance.csv')

# Visualizar cabeçalho do Data frame
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:

#visualizar tabela de frequencia da variável 'sex'
print(df['sex'].value_counts().reset_index(name='Frequência Absoluta'))

#podemos aprimorar a visualização com alguns ajustes de formatação:
fr=df['sex'].value_counts().reset_index(name='Frequência Absoluta')
fr.columns.name = 'Sexo'
fr.index.name= None


#Criar DataFrame
tabela_fr = pd.DataFrame({'Frequência Absoluta': df['sex'].value_counts(),'Frequência Relativa (%)': df['sex'].value_counts(normalize=True).round(4)* 100})
#print(tabela_fr)

#Em vez de gerar os gráficos, podemos ser mais rápidos gerando somente os dados em tela sem a tabela
print(df['sex'].value_counts())
print(df['sex'].value_counts(normalize=True))
print(df['children'].value_counts()) #imprime a relação total de nº de filhas em relação ao número de dados
print((df['children'].value_counts(normalize=True))) #imprime a relação total de nº de filhas em relação ao percentual de dados
    ## o comando acima imprimirá uma tabela que mostra que 42,89% da população não possui dependentes. Além disso, mostra que não há amostra que possua mais de 5 filhos.
# Gerando para a variável "age" com base na fórmula de Sturges, a seguir:
print(f'Total de dados na coluna age:{df['age'].count()}')
print(f'Valor minimo da coluna age:{df['age'].min()}')
print(f'Valor maximo da coluna age: {df['age'].max()}')
    #Considerando a Fórmula de Sturges para 1338 dados e, arredondando o valor de K (11,39) para
        # o inteiro mais próximo, temos que o total de classes recomendado é igual à 11.
        # omo "64 - 18 = 46" e "46/11 = 4,18", vamos optar por considerar dez classes de tamanho 05
        # para evitar números não inteiros nas extremidades das classes.
        #    |
        #    |
        #    V
#organizar dados
classes=pd.cut(df['age'],bins=[(18+5*k) for k in range(11)],right=False,include_lowest=True)

f_abs=classes.value_counts(sort=False)
f_rel=classes.value_counts(normalize=True, sort=False).round(4)*100

# Gerar tabela
tabela_fr=pd.DataFrame({"Frequência Absoluta": f_abs, "Frequência Relativa(%)": f_rel})

tabela_fr.index.name=None
tabela_fr.columns.name="Idade"

# Printando
#print(tabela_fr) # parei n página13

## exercício autoral: fazer um estudo sobre o bmi da tabela e relacionar com a referência média. Plotar gráficos para cada gênero.




## alguns dados sobre bmi
print(f'O bmi mínimo em df é: {df['bmi'].min()}')
print(f'O bmi máximo em df é: {df['bmi'].max()}') #Assustador! Talvez discrepante! ache o index 

#print(f'index do bmi:53.13 é {df['bmi'].index(int, 53)}')  #é uma list.index(elmnt, start, end)  
i=df[df['bmi']>53].index[0]
print(f'Índice do primeiro BMI > 53 é: {i}')
#print(f'index do bmi:53.13 é {df[df['bmi']>53].index}')

# frequência?
# análise masculina de frequência em intevalos definidos
super_magro=0
normal=0
sobrepeso=0
obeso=0
muito_obeso=0
for _, row in df.iterrows():       #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iterrows.html . Se vc olhar a documentação desse método, ele retorna duas coisas, o índice da linha e o conteúdo dela Mas, no seu caso, vc não tá usando o índice pra nada, só o row Daí a IA sugeriu vc colocar uma "variável morta", que seria esse _ Daí a IA sugeriu vc colocar uma "variável morta", que seria esse "_" . Como o método retorna duas coisas mas vc só precisa de uma delas, vc pode fazer isso. uando vc vai pegar o retorno de uma função ou método, se essa coisa retornar algo que vc n precise atribuir a uma variável no seu código, vc pode fazer isso _ = func(bla_bla_bla)  
    bmi=row['bmi']
    if bmi<18.5:
        super_magro += 1
    elif 18.5<= bmi <24.9:
        normal += 1
    elif 24.9 <= bmi < 29.9:
        sobrepeso += 1
    elif 29.9<= bmi <39.9:
        obeso += 1
    else:
        muito_obeso += 1


# alternativamente, poderia fazer da seguinte forma:
# Definindo os intervalos e os rótulos
#bins = [0, 18.5, 24.9, 29.9, 39.9, float('inf')]
#labels = ['super_magro', 'normal', 'sobrepeso', 'obeso', 'muito_obeso']

# Criando uma nova coluna com as categorias
#df['categoria_bmi'] = pd.cut(df['bmi'], bins=bins, labels=labels, right=False)

# Contando a frequência de cada categoria
#frequencia = df['categoria_bmi'].value_counts().sort_index()
#print(frequencia)
# fim do código alternativo

# Impressão dos resultados
print('os dados são os seguintes')
print(f'super magros:{super_magro}, normal:{normal}, sobrepeso:{sobrepeso}, obeso:{obeso} e muito obeso:{muito_obeso}')

      sex  Frequência Absoluta
0    male                  676
1  female                  662
sex
male      676
female    662
Name: count, dtype: int64
sex
male      0.505232
female    0.494768
Name: proportion, dtype: float64
children
0    574
1    324
2    240
3    157
4     25
5     18
Name: count, dtype: int64
children
0    0.428999
1    0.242152
2    0.179372
3    0.117339
4    0.018685
5    0.013453
Name: proportion, dtype: float64
Total de dados na coluna age:1338
Valor minimo da coluna age:18
Valor maximo da coluna age: 64
O bmi mínimo em df é: 15.96
O bmi máximo em df é: 53.13
Índice do primeiro BMI > 53 é: 1317
os dados são os seguintes
super magros:20, normal:222, sobrepeso:377, obeso:625 e muito obeso:94

In [ ]:
# Análise de qual região possui o maior número de fumantes
df.head()

# Qual a faixa etária com maior número de fumantes?

# Qual a relação do bmi com o número de fumantes?

# Qual a relação do bmi com o número de fumantes por região?

# Qual a relação do bmi com o número de fumantes por região e gênero?

# Qual a relação do bmi com o número de fumantes por gênero e faixa etária?

# Qual a relação do bmi com o número de fumantes por região, gênero e número de filhos?

# Qual relação entre número de filhos e fumantes?

# Qual a relação entre o número de filhos e o bmi?

# Qual região aparentemente possui o maior número de crianças?

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520